@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.login-parent {
	display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  margin: auto;
 
  background:linear-gradient(to right, rgb(140, 135, 141), rgb(127, 123, 125))
}
.form-child{
	padding:25px;
	background-color: white;
}
.form-btn{
	display: inline-block;
    padding: 10px 12px;
	width: -webkit-fill-available;
    text-align: center;
    cursor: pointer;
 	border:1px solid rgb(210,210,210);
    border-radius: 4px;
	background-color: white;

}
.active{
	background:linear-gradient(to right, rgb(170,64,184), rgb(248,65,154));
    border: none;
	color:white;
}
.btn-parent{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
 
}
.btn-submit{
	background:linear-gradient(to right, rgb(170,64,184), rgb(248,65,154));
	color:white;
	border:none;
	height: 6vh;
	font-weight:bold;
		  }	
		  .signup-text{
			color: rgb(248,65,154);
			text-decoration: none;
		  }	  

.cursor-pointer{
  cursor: pointer;
}