/* @import url('http://fonts.cdnfonts.com/css/minecraft-3'); */
@font-face {
  font-family: 'Minecraft';
  src: url('/font/Minecraft.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  
  font-family: 'Minecraft';
    /* -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #05050512; */
    color: aliceblue;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
a:hover, a:focus{
  color: rgb(240, 106, 238);
}

* {
  box-sizing: border-box;
}

.home-main-body{
  min-height:1100px;
 overflow-x: scroll;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ebecf0;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  
  /* min-width: 1250px; */
  display:flex;
  justify-content: center;
    align-items: flex-start; 
    /* flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 0; */
    
}
.home-main-body::-webkit-scrollbar {
  display: none;
}
.navbar-dark .navbar-nav .nav-link {
  font-weight: 500;
  font-size: 18px;
  color: rgb(240, 109, 208);
}

/* slot box */
.slot-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 1200px;
  align-items: center;
  padding-top: 100px;
  width: 1200px;
  position: relative;
}
.slot{
  height: 20px;
  width: 20px;
  background-color: rgba(206, 118, 199, 0.874);
  cursor: pointer;
  margin:2px;
  flex-shrink: 0;
  /* cursor:url('/images/mouse-pointer.png'), auto; */
}
.slot:nth-child(even) {
  background: rgba(198, 36, 213, 0.836);
}
li{
  list-style: none;
}

/* footer styles */
.footer{
  color: #ffffff;
  padding: 30px 0 20px 0;
  background:#503ac6;
  font-size: 12px;
}
.footer-left {
  display: flex;
  
  justify-content: space-around;
}
.footer-left li a, .footer-right li a{
  font-size: 14px !important;
}
.icon{
  font-size: 20px;
}
.footer-middle{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
}
.footer-right{
  text-align: center;
}
@media screen and (max-width: 768px){

  .footer-left {
   
    justify-content: space-evenly;
  }
  .footer-middle{
    justify-content: space-evenly;
  align-items: center;
  padding: 30px 80px;
  }
  .footer-right{
    text-align: center;
  }
}

/* .slot-wrapper img{
  position: absolute;
  height:30px;
  width:30px;
  top: 102px;
  left: 2px;
  object-fit: cover;
} */
.bg-orange{
  background-color: orange;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/images/preloader.svg);
  background-size: 80px;
}

.notice {
  position: absolute;
  top: 55px;
  font-weight: 800;
  color: #00101b;
  min-width: 801px;
  font-size: 18px;
  letter-spacing:1px;
}



.review-card{
  display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
}

/* add review card */

.addreview {
  
  display: flex;
    justify-content: center;
  
}
.review-form{
  
    width: 600px;
    padding: 15px;
    border: 1px solid #8776977e;

}
.form-center{

    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;

}

label.form-label {
  color: #011010;
  font-size: 18px;
  font-weight: 500;
}
.text-center{
  color: #011010;
}

@media screen and (max-width: 800px) {
  
  .review-form{
  
    width: 115%;
    padding: 15px;
    border: 1px solid #8776977e;

}
 
.nav-link-wrap{
  flex-wrap: wrap !important;
  
}
  
}

.hover-div{
  position: absolute;
  height:260px;
  width: 250px;
  /* top: 166px;
  left:102px; */
  background: rgb(255, 255, 255);
  color: rgb(3, 1, 18);
  padding: 15px;
  font-size: 16px;
  z-index: 9999999999999;
  display:none;
  border: 1px solid rgb(230, 216, 228);
  border-radius:5px;
  transition: all 0.8 ease;
}
.slot-url a{
  color: #d7381c;
  font-size:16px;
  letter-spacing: 1px;

}
.slot-url a:hover{
  color: #021013;
}
.slot-title{
  margin-top:15px;
  font-size: 16px;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-bottom: 0;
}


.slot-img:hover > .hover-div{
  display: block;
  transition: all 0.8 ease;
}
p.slot-num {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  overflow-x:scroll;
 
}
/* .slot-num::-webkit-scrollbar {
  height: 15px;
  color: rgba(248, 23, 248, 0.208);
}
.slot-title::-webkit-scrollbar {
  height: 15px;
  color: rgba(248, 23, 248, 0.345);
} */

.hover-div img{
  object-fit:contain;
}

.paypal-buttons{
  
}
/* .paypal-buttons:nth-child(-n+1) {
  display: none !important; 
} */

/* manageslot */
.manage-slot{
  color: rgb(0, 0, 0);
  padding-top:50px;
  display: flex;
    justify-content: center;
}
/* manageslot table */
table{
  font-size :16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.table thead{
  background-color:rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  border-bottom: none !important;
  
 
}
th{
  padding-left: 10px;
}
thead{
  border: none !important;
}
.table thead th:first-child {
  border-radius: 10px 0 0 10px;
}
.table thead  th:last-child {
  border-radius: 0 10px 10px 0;
}

.table tbody tr:first-of-type {
  border-top: 2px solid #ffffff;
}

.table tbody tr:nth-of-type(odd) {
  background-color: inherit;
  border-radius: 10px 10px 0 10px;

}

.coinicon-lq{
    margin-right: 3px;
}




@media (max-width: 768px){
  body {
    min-width: 1250px;
}

.header-section {
  min-width: 550px;
}

  .notice{
    top: 55px;
    min-width: 420px;
    font-size: 14px;
  }
  .navbar-brand {
    
    margin-left: 1rem;
    
}
.modal-content{
  width: 75% !important;
}
.main-container__content {
 
  width: 85%;
  border-radius: 12px;
}


}

td a{
  color: #e32fe9;
  
}


/* div{
  width: 100%;
} */

